<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    Para obter uma descrição das alterações do web.config, consulte http://go.microsoft.com/fwlink/?LinkId=235367.

    Os seguintes atributos podem ser definidos na marca <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <connectionStrings>
    <add name="STRING_CONNECTION" connectionString="Data Source=sqlserver01.wording.com.br;Initial Catalog=wording1;User ID=wording1; Password=wording2015fnd;" providerName="System.Data.SqlClient"/>
    <add name="wording1ConnectionString" connectionString="Data Source=sqlserver01.wording.com.br;Initial Catalog=wording1;User ID=wording1;Password=wording2015fnd" providerName="System.Data.SqlClient"/>
    <add name="wording1ConnectionString2" connectionString="Data Source=sqlserver01.wording.com.br;Initial Catalog=wording1;User ID=wording1;Password=wording2015fnd" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
  </system.web>
  <system.web>
    <sessionState timeout="60"/>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="40000" maxUrl="40000"/>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>